* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    display: inline;
    margin: 10px;
}

p {
    margin-left: 400px;
    margin-right: 400px;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

button {
    background-color: rgb(105, 14, 122);
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 3x;
    line-height: 24px;
    line-break: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(202, 33, 202);
    transition: 0.2s;
}

.timer {
    text-align: right;
    float: right;
}

.highscores {
    text-align: left;
    float: left;
}


.hide {
display: none;
}


#questionsTitle {
   margin-left: 400px;
   margin-right: 400px;
   text-align: center;
}

ul {
    margin-left: 185px;
    text-align: left;
}

#response {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}